@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-outline {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
}

.cursor {
  background-color: black;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  transition: all 0.1s ease-in-out;
}
